.sudoku-main-window {
    background-color: #e2b97d;
}

.icon-dropshadow {
	-gtk-icon-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 3px 20px rgba(0,0,0,0.2);
}

#sudoku-parent-grid {
    padding: 50px;
}

#sudoku-parent-grid button {
    background-color: rgba(255, 245, 230, 0.6);
}

#sudoku-popover button {
    background-color: rgba(255, 227, 185, 0.85);
}

#sudoku-parent-grid button.toggle-active {
    background-color: #f9eed7;
    box-shadow: 0 0 10px #d2a56d66;
}

#sudoku-parent-grid button:hover {
    background-color: rgba(255, 245, 230, 0.85);
}

#sudoku-parent-grid button:checked {
    background-color: #f9eed7;
}

.entry-cell {
    color: rgba(28, 20, 15, 0.95);
    font-size: 20px;
}

.clue-cell {
    color: rgba(28, 20, 15, 0.65);
    font-size: 20px;
}

.sudoku-cell-button {
    min-width: 10px;
    min-height: 10px;
}

#sudoku-parent-grid button.entry-cell.correct {
    background-color: rgba(168, 208, 78, 0.55);
    transition: background-color 0.3s ease-in-out;
}

#sudoku-parent-grid button.entry-cell.wrong {
    background-color: rgba(226, 116, 74, 0.55);
}

#sudoku-parent-grid button.entry-cell.correct.highlight {
    background-color: rgba(190, 220, 90, 0.68);
}

#sudoku-parent-grid button.entry-cell.wrong.highlight {
    background-color: rgba(236, 136, 96, 0.68);
}

#sudoku-parent-grid button.conflict {
    background-color: rgba(226, 116, 74, 0.45);
    animation: pulse 3s;
}

#sudoku-parent-grid button.entry-cell.highlight,
#sudoku-parent-grid button.clue-cell.highlight {
    background-color: #fff5e3;
    box-shadow: 0 0 10px #d2a56d79;
    transition: background-color 0.3s ease-in-out;
}

@keyframes pulse {
    20% { background-color: rgba(236, 136, 96, 0.68); }
    80% { background-color: rgba(236, 136, 96, 0.68); }
}

.note-cell-label {
    font-size: 11px;
    padding: 0.8px;
    color: rgba(28, 20, 15, 0.75);
}

.large  .entry-cell,
.large  .clue-cell {
    font-size: 30px;
}

.large .note-cell-label {
    font-size: 15px;
    padding: 3px;
}


.compact-mode #sudoku-parent-grid {
    border-radius: 6px;
}

.compact-mode  .entry-cell,
.compact-mode  .clue-cell {
    font-size: 20px;
}

.compact-mode .note-cell-label {
    font-size: 10px;
    padding: 0.4px;
}

.small-mode #sudoku-parent-grid {
    padding: 10px;
    border-radius: 6px;
}

.small-mode  .entry-cell,
.small-mode .clue-cell {
    font-size: 17px;
}

.small-mode .note-cell-label {
    font-size: 7px;
    padding: 0.2px;
}
