.sudoku-main-window {
    background-color: #d2a56d;
}

#sudoku-parent-grid {
    background-color: #ffffff27;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sudoku-parent-grid button {
    background-color: #ffffff65;
}

#sudoku-parent-grid button.toggle-active {
    background-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

#sudoku-parent-grid button:hover {
    background-color: #ffffffb0;
}

#sudoku-parent-grid button:checked {
    background-color: #ffffff;
}

.entry-cell, .clue-cell {
    font-size: 20px;
}

.sudoku-cell-button {
    min-width: 40px;
    min-height: 40px;
}

#sudoku-parent-grid button.entry-cell.correct {
    background-color: rgba(0, 255, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

#sudoku-parent-grid button.entry-cell.wrong {
    background-color: rgba(255, 0, 0, 0.3);
}

#sudoku-parent-grid button.entry-cell.correct.highlight {
    background-color: rgba(0, 255, 0, 0.3);
}

#sudoku-parent-grid button.entry-cell.wrong.highlight {
    background-color: rgba(255, 0, 0, 0.3);
}

#sudoku-parent-grid button.conflict {
    background-color: rgba(255, 0, 0, 0.2);
    animation: pulse 3s;
}

#sudoku-parent-grid button.entry-cell.highlight,
#sudoku-parent-grid button.clue-cell.highlight {
    background-color: #ffffffb6;
    box-shadow: 0 0 10px #ffffff79;
    transition: background-color 0.3s ease-in-out;
}

@keyframes pulse {
    20% { background-color: rgba(255, 0, 0, 0.4); }
    80% { background-color: rgba(255, 0, 0, 0.4); }
}

.note-cell-label {
    font-size: 10px;
}
