.sudoku-main-window {
    background-color: #d2a56d;
}

#sudoku-grid {
    background-color: #ffffff27;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sudoku-grid button {
    background-color: #ffffff65;
}

#sudoku-grid button.toggle-active {
    background-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

#sudoku-grid button:hover {
    background-color: #ffffffb0;
}

#sudoku-grid button:checked {
    background-color: #ffffff;
}


.entry-cell, .clue-cell {
    font-size: 20px;
}

.clue-cell {
    font-weight: bold;
}

.top-border {
    margin-top: 3px;
}
.left-border {
    margin-left: 3px;
}
.right-border {
    margin-right: 3px;
}
.bottom-border {
    margin-bottom: 3px;
}

#sudoku-grid .entry-cell.highlight, 
#sudoku-grid .clue-cell.highlight {
    background-color: #ffffffb6;
    box-shadow: 0 0 10px #ffffff79;
    transition: background-color 0.3s ease-in-out;
}

.entry-cell.correct {
    background-color: rgba(0, 255, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

.entry-cell.wrong {
    background-color: rgba(255, 0, 0, 0.3);
}

.conflict {
    background-color: rgba(255, 0, 0, 0.2);
    animation: pulse 3s;
}

@keyframes pulse {
    20% { background-color: rgba(255, 0, 0, 0.4); }
    80% { background-color: rgba(255, 0, 0, 0.4); }
}
