.sudoku-main-window {
    background-color: #d2a56d;
}

statuspage image {
    -gtk-icon-size: 256px;
}

#sudoku-parent-grid {
    background-color: rgba(247, 233, 213, 0.22);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sudoku-parent-grid button {
    background-color: rgba(247, 233, 213, 0.45);
}

#sudoku-parent-grid button.toggle-active {
    background-color: #f1e2c8;
    box-shadow: 0 0 10px #d2a56d88;
}

#sudoku-parent-grid button:hover {
    background-color: rgba(247, 233, 213, 0.70);
}

#sudoku-parent-grid button:checked {
    background-color: #f1e2c8;
}

.entry-cell {
    color: rgba(34, 26, 21,1);
    font-size: 20px;
}

.clue-cell {
    color: rgba(34, 26, 21, 0.60);
    font-size: 20px;
}

.sudoku-cell-button {
    min-width: 40px;
    min-height: 40px;
}

#sudoku-parent-grid button.entry-cell.correct {
    background-color: rgba(158, 188, 62, 0.52);
    transition: background-color 0.3s ease-in-out;
}

#sudoku-parent-grid button.entry-cell.wrong {
    background-color: rgba(206, 106, 64, 0.50);
}

#sudoku-parent-grid button.entry-cell.correct.highlight {
    background-color: rgba(180, 206, 80, 0.64);
}

#sudoku-parent-grid button.entry-cell.wrong.highlight {
    background-color: rgba(226, 126, 86, 0.64);
}

#sudoku-parent-grid button.conflict {
    background-color: rgba(206, 106, 64, 0.40);
    animation: pulse 3s;
}

#sudoku-parent-grid button.entry-cell.highlight,
#sudoku-parent-grid button.clue-cell.highlight {
    background-color: #f7ecd8;
    box-shadow: 0 0 10px #d2a56d79;
    transition: background-color 0.3s ease-in-out;
}

@keyframes pulse {
    20% { background-color: rgba(226, 126, 86, 0.64); }
    80% { background-color: rgba(226, 126, 86, 0.64); }
}

.note-cell-label {
    font-size: 11px;
    padding: 0.8px;
}
